.u-logo-content{
  display: flex;
  align-items: center;
 }
 .u-logo-image{
  max-height: 40px;
  margin-right: 10px;
 }
 .u-logo-text{
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
 }
 .u-section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/pexels-photo-2422293.jpeg');
  background-position: 50% 50%;
}

.u-sheet-1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#signup {
  background: transparent;
  color: white;
  false;
  clear: left;
  font: 16px Helvetica, Arial, sans-serif;
  width: 600px;
}

.u-content-form{
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.u-text-contacto{
  text-align: center;
}

.button1 {
  box-sizing: border-box;
  clear:both; 
  background-color: #f1c50e; 
  border: 0 none; 
  transition: all 0.23s ease-in-out 0s; 
  color: #111111; 
  cursor: pointer; 
  display: inline-block; 
  line-height: 32px; 
  margin: 0 5px 10px 0; 
  padding: 0 22px; 
  text-align: center; 
  text-decoration: none; 
  vertical-align: top; 
  white-space: nowrap; 
  width: fit-content; 
  width: -moz-fit-content;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  height: 50px;
}
.button1:hover {
background-color:#d4a60d;
}

@media (max-width: 1199px){
  .u-content-form{
    max-width: 900px;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 991px){
  .u-content-form{
    max-width: 800px;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 767px){
  .u-content-form{
    max-width: 600px;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .u-content-form{
    max-width: 400px;
    width: 100%;
    padding: 10px;
  }
}




#mc_embed_signup input[type="text"],
#mc_embed_signup input[type="email"],
#mc_embed_signup input[type="radio"]{
  color: #333 !important;  /* Asegura que el color del texto sea oscuro */

}


